#div5 {
    color : cyan;
    text-shadow: white -4px 4px 4px;
    display : inline-block;
    position : absolute;
    z-index : 1;
    opacity : 0.8;
    left : 12px;
    top : 50px;
   }
  #div7 {
    color : cyan;
    text-shadow: white -4px 4px 4px;
    display : inline-block;
    transform: scale(-1, 1);
    position : absolute;
    z-index : 1;
    left : 128px; 
    top : 50px;
    opacity : 0.8;
  }
  .deco {
    font-size : 100px;
    
  }
  @keyframes tourner {
    0% {transform : rotateX(0deg);}
    25% {transform : rotateX(90deg);}
    50% {transform : rotateX(180deg);}
    75% {transform : rotateX(270deg);}
    100% {transform : rotateX(360deg);}
  }
  #div6 {
    color : white;
    text-shadow: white -4px 4px 4px;
    display : inline-block;
    position : absolute;
    left : 60px;
    top : 50px;
    z-index : 2;
    animation-name: tourner;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
  #div8 {
    font-size : 30px;
    color : white;
    position : absolute;
    z-index : 2;
    display : inline-block;
    top : 140px;
    left : 60px;
  }
  #div9{
    height: 200px;
    width: 200px;
    background-color: #000000;
    opacity : 0.5;
    border-radius: 50%;
    display: inline-block;
  }
  body{
    background-color: #000000;
  }